# Virtual environments
venv/
.env

# Python cache
__pycache__/
*.pyc
.py[cod]

# Pytest
.pytest_cache/

# Coverage reports
htmlcov
.coverage

# Playwright reports
playwright-report/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store

